
    <h1 class="text-center">Eat The Burger</h1>
    <hr style="width:60%">
    <div class="container">

        {{#each burgers}}
        <div class="row">
            {{#unless this.devoured}}
                <div class="col-xs-2 col-xs-offset-2 col-md-2 col-md-offset-2">
                    <div style="font-size:20px">{{this.id}}: {{this.burger_name}}</div>
                </div>
                <div class="col-xs-2  col-md-2 ">
                    <form action="burger/update/{{this.id}}/?_method=PUT" method="POST">
                        <input type="hidden" name="devoured" value="true">
                       <button type="submit">Eat Burger</button>
                    </form>
                </div>
                <br>
                <!--.col-md-4 .col-md-offset-4-->
            {{/unless}}
            {{#if this.devoured}}
                    <div class="col-xs-4 col-xs-offset-8">
                        <div style="font-size:20px" class="text-muted">{{this.id}}: {{this.burger_name}} has been
                            eaten</div>
                    </div>
                <br><br>
            {{/if}}
        </div>
        {{/each}}


    <form class="create-update-form text-center" action="burger/create" method="POST">
        <div class="form-group">
            <label for="br">Burger Name:</label>
            <input type="text" id="br" name="name">
        </div>
        <button type="submit">Add Burger</button>
     </form>
</div>